* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid red; */
}
:root {
  /* FONTS */
  --primary-font: "Rubik", sans-serif;
  /* COLORS */
  --primary-color: #3cdbc0;
  --secondary-color: #4a4a4a;
  --bright-color: #ffffff;
}
