* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0;
}

:root {
  /* FONTS */
  --primary-font: "Rubik", sans-serif;
  /* COLORS */
  --primary-color: #3cdbc0;
  --secondary-color: #4a4a4a;
  --bright-color: #ffffff;
}

html {
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.container {
  background-color: var(--bright-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 155px;
  height: 61px;
  padding-top: 10px;
  padding-bottom: 3px;
}

.logo img {
  width: 100%;
}

.menu li {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--secondary-color);
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
}

/* MAIN */

.main {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 118px;
}

.main-title {
  font-family: var(--primary-font);
  font-size: 1.875rem;
  color: var(--bright-color);
  text-transform: capitalize;
}

.main-title span {
  text-align: center;
  display: block;
}

@media all and (min-width: 768px) {
  /* HEADER */

  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
  }

  /* MAIN */

  .main-title {
    font-size: 2.5rem;
  }
}
